.orderList {
    margin-bottom: 10px;
 p {
     font-size: 20px;
     display: inline-block;
     padding-right: 10px;
     margin: 0;
     font-weight: 600;
 }
    span {
        padding-right: 10px;
        font-weight: 500;
    }

    button {
        margin-left: 10px;
        background: transparent;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px 10px;
    }

}